body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.container{
    
    display: flex;
    margin-bottom: 150px;
    
}
.bannner_image{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    
}
.half_width{
    width: 50%;
    margin-left: 80px;
    
}
.color-change{
    color: orange;
}
.half_width h1{
    font-size: 50px;
}
.half_width h3{
    font-size: 20px;
}

.style_button{
    padding: 10px 40px ;
    background-image: linear-gradient(rgb(255, 60, 0),rgb(255, 43, 43));
    text-decoration: none;
    color: white;
    border-radius: 10px;
    font-weight: 700px;


}

.half_width img{
    width: 550px;
    height: 100%;
    margin-right: 70px;
    
}

#dream_back_img{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.wev_pack{
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    width:50%;
    box-shadow: 2px 2px 40px rgb(168, 168, 168);
    border-radius: 10px;
    

    
}
#left_border{
     border-left:  8px solid;
     border-image: linear-gradient(rgb(161, 191, 219),rgb(41, 4, 202));
     border-image-slice: 1;

}
#left_border1{
    border-left:  8px solid;
    border-image: linear-gradient(rgb(238, 132, 159),rgb(141, 5, 5));
    border-image-slice: 1;
}
footer{
    
    text-align: center;

}
footer p{
    font-size: 16px;
}